.batch-checker .add-batch-heading{
	background: green;
	color: #fff;
	text-align: center;
	padding:20px;
	margin:0px 0px;
}
.batch-shortcode-hint {
	background: grey;
	font-weight: bold;
	padding: 20px 10px;
}
.batch-shortcode-hint p{
	font-size: 30px;
	color: #fff;
}